nav {
  padding: 20px 0 20px 10%;
  position: sticky; top: 0;
  background-color: #b80135;
  height: auto;
  opacity: 100;
  z-index: 999;
  font-weight: 700;
  /* font-size: 50px; */
  font-size: 4rem;
  color: #FFFAF1;
}
.sanskrit .watermark{
  position:fixed;
  bottom:5px;
  right:5px;
  opacity:0.2;
  z-index:99;
  color: #d90202;
}
.sanskrit:before{
  content: 'At Agyat Astro (https://Agyat.One)';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  color: #ea3323;
  font-size: 3em;
  font-weight: 800px;
  display: grid;
  justify-content: center;
  align-content: center;
  opacity: 0.2;
}
main.sanskrit{
  text-align: center;
  font-size: 1.3em;
  color: #d90202;
  oncut="return false"
  oncopy="return false"
  onpaste="return false"
  ondrag="return false"
  ondrop="return false"
}
